body {
    background-color: #3cbefc;
    margin: 35px;
}
p {
    color: rgb(255, 255, 255);
    margin: 20;
    font-size: 20px;
}
h1 {
    font-size:70px;
    text-align:center;
    color: #ffffff;
}
h2 {
    color: #ff1b82;
    font-size: 35px;
    text-align: center;
}    
div {
    text-align: center;
}
a:link  {
    color: gold;
}
a:visited { color: rgb(139, 0, 0); 
}
a:hover { 
   color: rgb(6, 65, 14);
   background-color: rgb(251, 131, 179);
   font-family: impact; 
}
a:active {
    color: navy ;
}
.contenedor{
    position: relative;
    display: inline-block;
    text-align: center;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 100px;
}
.centrado2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#56e918;
    font-size: 70px;
    font-family: cursive;
}
.titulo {
    font-size: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}